.table-header {
    text-align: left;
    background-color: rgba(255, 68, 0, 0.938);
    color: white;
}

canvas {
    border-bottom: 2px solid rgba(255, 68, 0, 0.938);
    border-top: 2px solid rgba(255, 68, 0, 0.938);
    margin-top: 40px;
}

th, td, tr {
  border: 1px solid black;
  padding-left: 4px;
  padding-right: 4px;
}

table {
    border-collapse: collapse;
}

.buttons {
    display: inline-flex;
    float: right;
    margin-top: 10px;
    color: rgba(255, 68, 0, 0.938);
}

.icon {
    color: rgba(255, 68, 0, 0.938);
    padding-right: 4px;
    padding-left: 4px;
}
