<div id="table" *ngIf='obj.hits !== undefined && obj.hits.length !== 0'>
    <table>
        <tr class="table-header">
            <th>Comments</th>
            <th>Vote Count</th>
            <th>UpVote</th>
            <th>News Details</th>
        </tr>
        <tr *ngFor="let row of obj.hits">
            <td style="text-align: center;">{{ row.num_comments }}</td>
            <td style="text-align: center;">{{ row.points }}</td>
            <td style="text-align: center;"><span class="fa fa-caret-up" (click)="upVote(row.objectID)"></span></td>
            <td><strong>{{ row.title }} </strong><a href="row.url">{{ row.url }}</a> by <strong>{{ row.author }}
                </strong>{{ row.diff_time }} <span style="color: blue; cursor: pointer;"
                    (click)="hideRow(row.objectID)">(Hide)</span>
            </td>
        </tr>
    </table>
</div>
<div class="buttons" *ngIf='obj.hits !== undefined && obj.hits.length !== 0'>
    <a class="icon nav-link" [routerLink]="pageNumber!==0?['/'+(pageNumber-1)]:[0]">Previous</a>|
    <a class="icon nav-link" [routerLink]="pageNumber!==(maxPages-1)?['/'+(pageNumber+1)]:[(maxPages-1)]">Next</a>
</div>
<div class="chart">
    <div class="chart-wrapper" *ngIf="lineChartData !== undefined && lineChartLabels !== undefined">
        <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
            [colors]="lineChartColors" [legend]="true" [chartType]="'line'" [plugins]="[]">
        </canvas>
    </div>
</div>